body{
  text-align : center;
  background-color: rgb(0, 0, 0);
  color : white;
}
#ui{
  width : 100%;
}
hr{
  height:3px;border : white; background-color: yellow;
}

span{
  color : yellow;
  font-size : 20px; 
}