<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h3>Fetch 연습</h3>
    <hr/>
      <div>
        <label>이름</label>
        <input type="text" placeholder="이름을 입력하세요." id="name"/>
      </div>
      <div>
        <label>직업</label>
        <input type="text" placeholder="직업을 입력하세요." id="job"/>
      </div>
      <button type="submit" id="btn">제출</button>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="login.js"></script>
  </body>
</html>
