<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h3>로그인이 완료되었습니다.</h3>
    <hr>
    <div>
        <span>로그인 ID : <span id ="UID">{{user.email}}</span></span>
        <form action="/auth/patch" method="patch">
            <button type="submit">비밀번호 수정</button>
        </form>
    </div>
</body>
</html>