<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main PAGE</title>
    <style>
        *{
            color:chartreuse;
        }
    </style>
  </head>
  <body style="background-color: black;">
    <h3 id="nick">{{nick}}</h3>
    <hr>
    <div>
        <label>E-mail : <span id="email">{{email}}</span></label>
    </div>
    <div>
        <label>Address : <span id="address"></span>{{address}}</label>
    </div>
    <div>
        <label>language : <span id="lang"></span>{{lang}}</label>
    </div>
    <a id="logout" href="/logout" class="btn">로그아웃</a>
    <script>
    </script>
  </body>
</html>
